# Your Wi-Fi SSID and password
wifi_ssid: "<ssid>"
wifi_domain: "<wifi domain>"
wifi_password: "<password>"
ota_password: "<ota password>"
fallback_password: "<fallback password>"
api_key: "<api key>"
